//
// Wodo/Bootstrap overrides
//

// Hide member list view
.webodfeditor-editor
    width 100% !important
    height 100% !important
    border none !important

.webodfeditor-members
    display none

.dijitToolbar
    background-image none !important
    background-color #f8f8f8 !important

// Resolve bootstrap conflicts and hide cursors' avatar handles
.webodf-caretOverlay
    .caret
        border-right none
        border-top none
        margin none
        height inherit !important
    .handle
        display none !important

.webodf-selectionOverlay
    stroke initial !important

.editInfoMarker
    width 3px !important
    border-radius 0 !important
    box-shadow none !important
    outline 1px solid black
