//
// Wodo/Bootstrap overrides
//

// Hide member list view
.wodo .webodfeditor-editor
    width 100% !important
    height 100% !important
    border none !important

.wodo .webodfeditor-members
    display none

.wodo .dijitToolbar
    background-image none !important
    background-color #f8f8f8 !important

// Resolve bootstrap conflicts and hide cursors' avatar handles
.wodo .webodf-caretOverlay
    .caret
        border-right none
        border-top none
        margin none
        height inherit !important
    .handle
        display none !important
