.toolbar
    border none
    background-color white
    height 50px

.toolbar-item
    display inline-block
    height 50px
    float left

#wodoContainer
    width 100%
    height calc(100% - 50px)
    top 50px
    padding 0
    position absolute
    background-color white
