.toolbar
    border none
.toolbar-item
    display: inline-block;
    height: 50px;
    float: left;

#wodoContainer
    width 100%
    height calc(100% - 50px)
    top 50px
    padding 0
    position absolute
