div.toolbar(ng-attr-embedded='{{$root.config.embedderHost !== undefined}}')
    div.toolbar-item.title
      title-editor
    div.toolbar-item
      export-button
    div.toolbar-item
      save-button

wodo-editor.wodo(ng-attr-embedded='{{$root.config.embedderHost !== undefined}}')
