.container
    .no-docs(ng-if='!documents.length')
        p.advice No documents yet. Why not add some?
    .document-list(ng-if='documents.length')
        table.table.table-striped(st-table='displayedDocuments' st-safe-src='documents')
            thead
                tr
                    th Title
                    th Creator
                    th(st-sort='date' st-sort-default='reverse') Updated
            tbody
                tr(ng-repeat='document in displayedDocuments')
                    td.title
                        a(ui-sref='editor({id: document._id})' target='_blank') {{document.title}}
                    td {{document.creator.name}}
                    td {{document.date | amCalendar}}
