.advice
    text-align center

.document-list
    height 100%
    padding 0
    user-select none
    table
        margin 0
        thead
            background-color none
            tr
                th
                    padding 12px
                    &[st-sort]
                        cursor pointer
        tbody
            border 1px solid lightgray
            tr
                td
                    color gray
                    background-color white !important
                    padding 12px
                    &.title a
                        font-weight bold
                        color black !important

.st-sort-ascent:after
    content '\25B2'

.st-sort-descent:after
    content '\25BC'
