.advice
    text-align center
.document-list
    height 100%
    padding 0
    table
        margin 0
        thead
            background-color none
            tr
                th
                    padding 12px
        tbody
            border 1px solid lightgray
            tr
                td
                    color gray
                    background-color white !important
                    padding 12px
                    &.title a
                        font-weight bold
                        color black !important
