.label-editor
    border none
    outline none
    text-overflow ellipsis
    padding-left 5px
    margin-left -5px
    width 100%
    max-width calc(100% - 50px)
    &:hover
        background-color #eeeeee
    &:focus
        background-color #eeeeee
        width 100%

.label-editor-pencil
    margin-left 5px
    color gray
