.navbar-default
    background-color maroon
    box-shadow 0 0px 2px 0px maroon
    border none

.navbar
    user-select none
    & p, & a
        color white !important
    & li.active, & li.open
        a
            background-color #4C1313 !important
