.navbar-default
    background-color maroon
    box-shadow 0 0px 2px 0px maroon
    border none

.navbar
    user-select none
    & .nav-text
        color white !important
    & li.active > a, & li.dropdown.open > a
        background-color #4C1313 !important
