div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.nav-text.navbar-brand(ui-sref='manticore.main') manticore

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li(ng-show='isAdmin()', ng-class='{active: isActive("/users")}')
          a.nav-text(ui-sref='manticore.users') Users

        li(ng-show='isAdmin()', ng-class='{active: isActive("/templates")}')
          a.nav-text(ui-sref='manticore.templates') Templates

        li.dropdown(ng-if='isLoggedIn() && isActive("/")' dropdown)
          a.nav-text.dropdown-toggle(href='#' dropdown-toggle role='button')
            | New
            span.caret
          create-menu

        li.dropdown(ng-if='isLoggedIn() && isActive("/")' dropdown auto-close='disabled')
          a.nav-text.dropdown-toggle(href='#' dropdown-toggle role='button')
            | Import
            span.caret
          div.dropdown-menu(ng-include='"components/import/import.html"')

      ul.nav.navbar-nav.navbar-right
        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
          a.nav-text(href='/signup') Sign up

        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
          a.nav-text(href='/login') Login

        li(ng-show='isLoggedIn()')
          p.nav-text.navbar-text Hello {{ getCurrentUser().name }}

        li(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
          a.nav-text(href='/settings')
            span.glyphicon.glyphicon-cog

        li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
          a.nav-text(href='', ng-click='logout()') Logout
