.upload-button
    position relative
    overflow hidden
    display block
    width 100px
    margin-left auto
    margin-right auto
    margin-bottom 15px
    input[type=file]
        opacity 0;
        position absolute
        top 0
        bottom 0
        outline none
        cursor inherit
        display block
        width 100%
        height: 100%
