div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit(ng-hide='isLoggedIn()       ')
  .container
    h1 Manticore
    p.lead Realtime collaboration for rich office documents.
    img(src='assets/images/manticore.jpg', alt='Manticore')

.container(ng-hide='!isLoggedIn()')
  .row
    .col-lg-12
      h1.page-header Documents
      ul.col-md-4.col-lg-4.col-sm-6(ng-repeat='document in documents')
        li
          a(ui-sref='editor({id: document._id})')
            | {{document.title}}

//- footer.footer
  .container
    p
      | Manticore
      = ' | '
      a(href='https://github.com/adityab/Manticure/issues?state=open') Issues
