div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit(ng-if='!isLoggedIn()')
  .container
    h1 Manticore
    p.lead Realtime collaboration for rich office documents.
    img(src='assets/images/manticore.jpg', alt='Manticore')

document-list(ng-if='isLoggedIn()')

//- footer.footer
  .container
    p
      | Manticore
      = ' | '
      a(href='https://github.com/adityab/Manticure/issues?state=open') Issues
